
<article class="post">
  <div class="article-card">
    <div class="article-header">
      <h2 class="article-title">{{title}}</h2>
       <a href="{{post_url}}" target="_blank">{{title}}</a>
          <span>({{ post_url}})</span>
      </div>
    </div>
</article>

{{!-- format_url --}}