
<article class="post">
  <div class="article-card">
    <div class="article-header">
      
       <a href="/post/{{id}}"><h2 class="article-title">{{title}}</h2></a>
          <span>{{post_content}}</span>
      </div>
    </div>
</article>

{{!-- format_url --}}