<!DOCTYPE html>
<html lang="en" class="h-100">
<!--  _____
     |A .  |
     | / \ |
     |( . )|
     |  T  |
     ---"--- 
      מְפַקֵד  -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rob's Tech News Emporium</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <nav class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h1 class="title-nav"><a href="/">Rob's Tech Emporium</a></h1>
        </div>
        {{#if loggedIn}}
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {{!-- <li class="nav-link px-2 text-secondary"><a href="/">Home</a></li> --}}
          <li class="nav-link px-2 text-white"><a href="/dashboard/new/">New Post</a></li>
          <li class="nav-link px-2 text-white"><a href="/dashboard">Dashboard</a></li>
          <br>
          <li class="nav-link px-2 text-white"><a href="/" id="logout" type="button" class="btn btn-outline-light me-2">Logout</a></li>
          {{else}}
          <li class="nav-link px-2 text-white"><a href="/login" id="login" type="button" class="btn btn-warning">Login</a></li>
         </ul>
        
                  {{/if}}
        </div>
      </div>
    </nav>
 </header> 

  <main class="wrapper">
      {{{body}}}
  </main>

  <footer>
    ❤️  Made with love by Rob 
  </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {{#if loggedIn}}
   <script src="/javascript/logout.js"></script>
   {{/if}}
</body>
</html>
