

<div class="">
    <h2 class="">Dashboard: your posts</h2>
    <hr>
    <a href="/dashboard/new/"><button id="new-post-form" class="btn">Create post</button></a>

</div>
{{#if posts.length}}
<section>
  <h2>Here are your posts...</h2>
  <br>
    <ol>
      {{#each posts as |post|}}
      <li>
        <label for="edit-link">
          Edit Post
        </label>
        {{> post-info post}}
       <a href="/dashboard/edit/{{post.id}}">click to edit</a>
     </li>
     {{/each}}
   </ol>
   <br>
 </section>
 {{/if}}
