<form id="signup-form" class="">
    <div id="signup" role="tabpanel">
        <div class="">
            <h2>Create new account</h2>
        </div>
        <div>
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" placeholder="Username" autocomplete="off" required autofocus>
        </div>
        <div>
            <label for="email-signup">Email</label>
            <input type="email" id="email-signup" placeholder="terry@example.com" autocomplete="off" required
                autofocus>
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="submit" id="signup-btn" class="">Sign up</button>
    </div>
</form>

<form id="signin-form" >
    <h2 class="">Please sign in</h2>
    <label for="email-signin" class="">email</label>
    <input type="text" id="email-signin" class="" placeholder="Email address" required autofocus>
    <label for="password-signin" class="">Password</label>
    <input type="password" id="password-signin" class="" placeholder="Password" required>
    </div>
    <button type="submit" id="login-btn" class="">Login</button>
</form>


<script src="/javascript/signin.js"></script>
<script src="/javascript/signup.js"></script>