{{!-- <form class="new-post-form">
  <div>
    <label for="post-title">
      What is the title of the article?
    </label>
    <input type="text" id="post-title" name="post-title" />
  </div>
  <div>
    <label for="post-url">
      Enter a link to your article
    </label>
    <input type="url" id="post-url" name="post-url" />
  </div>
  <button type="submit" class="btn">Submit</button>
</form> --}}
{{!--
<form id="new-post-form" class="new-post-form">
  <div>
    <label for="post-title">Title</label>
    <input type="text" name="post-title" class="form-input" placeholder="Insert title here" required />
  </div>
  <div>
    <label for="post-url">Enter a link to your article</label>
    <input name="post-url" placeholder="Insert text here" required />
  </div>
  <button type="submit" class="btn">Create Post</button>
</form>
</section> --}}

<div class="">
  <div class="">
    <h2>Add a New Post</h2>
  </div>
  <form id="new-post-form" class="">
    <label class="" for="post-title">Title</label>
    <input type="text" name="post-title" class="" placeholder="Insert title here" required />
    <label class="" for="post-content">Content</label>
    <input type="text" class="" name="post-content" placeholder="Insert content here" required />
    <button type="submit" class="btn">Create Post</button>
  </form>
</div>
<script src="/javascript/add-post.js"></script>