* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Optima, sans-serif;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: rgb(51, 92, 163);
  font-weight: bold;
  transition: color .1s;
}

a:hover 
{ color: rgb(52, 134, 235)}

button {
  /* background-color: rgb(34, 92, 163); */
  background-color: rgb(102, 0, 102);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover 
{ background-color: rgb(204, 0, 204)}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid rgb(52, 134, 235);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div 
{ margin-bottom: 2% }

form label 
{ display: block }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

header {
  border-bottom: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 
{ font-size: 1em }

main {
  flex: 1;
  padding: 2% 4%;
}

.delete-post-btn 
{ background-color: rgb(212, 20, 20) }

.btn-no-style:hover {
  background: none;
  color: rgb(52, 134, 235);
}

.delete-post-btn:hover 
{ background-color:rgb(255, 100, 61) }

.btn-no-style {
  background: none;
  border: none;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(52, 134, 235);
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: rgb(125, 125, 125);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment:nth-child(odd) 
{ background-color: rgb(192, 192, 192) }

.comment-form 
{ margin-bottom: 5% }

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input 
{ width: 300px }

.edit-post-form 
{ margin-bottom: 5% }

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  border-top: 1px solid rgb(204, 204, 204);
}

.form-control {
  width: 50%;
}

.form-label,
.form-input,
.form-textarea { display: block }

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.min-100-vh
 { min-height: 100vh }

.min-100-vw 
{ min-width: 100vw }

.text-uppercase 
{ text-transform: uppercase }

.justify-space-between 
{ justify-content: space-between }

.justify-space-around 
{ justify-content: space-around }

.justify-flex-start 
{ justify-content: flex-start }

.justify-flex-end 
{ justify-content: flex-end }

.justify-center 
{ justify-content: center }

.align-stretch
{ align-items: stretch }

.align-end 
{ align-items: flex-end }

.align-center 
{ align-items: center }

.col-auto 
{ flex-grow: 1 }

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-1
{ flex: 0 0 calc(100% * 1 / 12 - 2%) }

.col-2 
{ flex: 0 0 calc(100% * 2 / 12 - 2%) }

.col-3 
{ flex: 0 0 calc(100% * 3 / 12 - 2%) }

.col-4 
{ flex: 0 0 calc(100% * 4 / 12 - 2%) }

.col-5 
{ flex: 0 0 calc(100% * 5 / 12 - 2%) }

.col-6 
{ flex: 0 0 calc(100% * 6 / 12 - 2%) }

.col-7 
{ flex: 0 0 calc(100% * 7 / 12 - 2%) }

.col-8 
{ flex: 0 0 calc(100% * 8 / 12 - 2%) }

.col-9 
{ flex: 0 0 calc(100% * 9 / 12 - 2%) }

.col-10 
{ flex: 0 0 calc(100% * 10 / 12 - 2%) }

.col-11 
{ flex: 0 0 calc(100% * 11 / 12 - 2%) }

.col-12 
{ flex: 0 0 100% }

/* mobile up to iphone 6/7/8 */
@media screen and (min-width: 640px) {
  
  .col-sm-1 
  { flex: 0 0 calc(100% * 1 / 12 - 2%) }

  .col-sm-2
  { flex: 0 0 calc(100% * 2 / 12 - 2%) }

  .col-sm-3 
  { flex: 0 0 calc(100% * 3 / 12 - 2%) }

  .col-sm-4 
  { flex: 0 0 calc(100% * 4 / 12 - 2%) }

  .col-sm-5 
  { flex: 0 0 calc(100% * 5 / 12 - 2%) }

  .col-sm-6 
  { flex: 0 0 calc(100% * 6 / 12 - 2%) }

  .col-sm-7 
  { flex: 0 0 calc(100% * 7 / 12 - 2%) }

  .col-sm-8 
  { flex: 0 0 calc(100% * 8 / 12 - 2%) }

  .col-sm-9 
  { flex: 0 0 calc(100% * 9 / 12 - 2%) }

  .col-sm-10 
  { flex: 0 0 calc(100% * 10 / 12 - 2%) }

  .col-sm-11 
  { flex: 0 0 calc(100% * 11 / 12 - 2%) }

  .col-sm-12 
  { flex: 0 0 100% }
}


/* mobile up to iphone 6/7/8 plus */
@media screen and (min-width: 768px) {
  
  .col-md-1 
  { flex: 0 0 calc(100% * 1 / 12 - 2%) }

  .col-md-2 
  { flex: 0 0 calc(100% * 2 / 12 - 2%) }

  .col-md-3 
  { flex: 0 0 calc(100% * 3 / 12 - 2%) }

  .col-md-4 
  { flex: 0 0 calc(100% * 4 / 12 - 2%) }

  .col-md-5 
  { flex: 0 0 calc(100% * 5 / 12 - 2%) }

  .col-md-6 
  { flex: 0 0 calc(100% * 6 / 12 - 2%) }

  .col-md-7 
  { flex: 0 0 calc(100% * 7 / 12 - 2%) }

  .col-md-8 
  { flex: 0 0 calc(100% * 8 / 12 - 2%) }

  .col-md-9 
  { flex: 0 0 calc(100% * 9 / 12 - 2%) }

  .col-md-10 
  { flex: 0 0 calc(100% * 10 / 12 - 2%) }

  .col-md-11 
  { flex: 0 0 calc(100% * 11 / 12 - 2%) }

  .col-md-12 
  { flex: 0 0 100% }
}

/* mobile up standard iPad */
@media screen and (min-width: 992px) {
  
  .col-lg-1 
  { flex: 0 0 calc(100% * 1 / 12 - 2%) }

  .col-lg-2 
  { flex: 0 0 calc(100% * 2 / 12 - 2%) }

  .col-lg-3 
  { flex: 0 0 calc(100% * 3 / 12 - 2%) }

  .col-lg-4 
  { flex: 0 0 calc(100% * 4 / 12 - 2%) }

  .col-lg-5 
  { flex: 0 0 calc(100% * 5 / 12 - 2%) }

  .col-lg-6 
  { flex: 0 0 calc(100% * 6 / 12 - 2%) }

  .col-lg-7 
  { flex: 0 0 calc(100% * 7 / 12 - 2%) }

  .col-lg-8 
  { flex: 0 0 calc(100% * 8 / 12 - 2%) }

  .col-lg-9 
  { flex: 0 0 calc(100% * 9 / 12 - 2%) }

  .col-lg-10 
  { flex: 0 0 calc(100% * 10 / 12 - 2%) }

  .col-lg-11 
  { flex: 0 0 calc(100% * 11 / 12 - 2%) }

  .col-lg-12 
  { flex: 0 0 100% }
 }

/* mobile up to iPad Pro */
@media screen and (min-width: 1200px) {
  
  .col-xl-1 { flex: 0 0 calc(100% * 1 / 12 - 2%) }

  .col-xl-2 
  { flex: 0 0 calc(100% * 2 / 12 - 2%) }

  .col-xl-3 
  { flex: 0 0 calc(100% * 3 / 12 - 2%) }

  .col-xl-4 
  { flex: 0 0 calc(100% * 4 / 12 - 2%) }

  .col-xl-5 
  { flex: 0 0 calc(100% * 5 / 12 - 2%) }

  .col-xl-6 
  { flex: 0 0 calc(100% * 6 / 12 - 2%) }

  .col-xl-7 
  { flex: 0 0 calc(100% * 7 / 12 - 2%) }

  .col-xl-8 
  { flex: 0 0 calc(100% * 8 / 12 - 2%) }

  .col-xl-9 
  { flex: 0 0 calc(100% * 9 / 12 - 2%) }

  .col-xl-10 
  { flex: 0 0 calc(100% * 10 / 12 - 2%) }

  .col-xl-11 
  { flex: 0 0 calc(100% * 11 / 12 - 2%) }

  .col-xl-12 
  { flex: 0 0 100% }
}
